.content-divider {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.card-wrapper {
    align-self: auto;
    max-width: 700px;
    min-width: 300px;
    //max-height: 500px;
    margin: auto;
    width: 60%;
    padding-top: 20px;
}
