<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	 <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/bb/" />
      </rule>
    </rules>
  </rewrite>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json;charset=UTF-8;" />
            <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbf" mimeType="application/dbf" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-XSS-Protection" value="0" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
