<div class="card-wrapper">
    <igx-card type="outlined">
        <igx-card-media >
            <img [src]="'assets/BusyBabyContacts.png'">
        </igx-card-media>

        <igx-card-header>
            <h3 igxCardHeaderTitle>Busy Baby</h3>
        </igx-card-header>

        <igx-card-content>
            <p>{{'contactUsText' | translate }}</p>
            <igx-divider class="content-divider"></igx-divider>
            <!-- <div class="center">
                <igx-icon color="#f8c1d9">call</igx-icon><span>+359883309995</span><br>
                <igx-icon color="#f8c1d9">language</igx-icon><span>fb.me/busybabybg</span><br>
                <igx-icon color="#f8c1d9">mail</igx-icon><span>busy.baby@outlook.com</span>
            </div> -->
        </igx-card-content>
    </igx-card>
</div>