<p>
        Крайният резултат ни допадна, а на сладкия мъник – още повече (че даже и на неговия татко). Не след дълго още една малка принцеса получи своята сензорна дъска, а ефектът върху нея беше дори още по-голям. Тя и всички останали деца на рождения ден, възрасти от 0 до 7 години, буквално „залепнаха“ за дъската и някак си стана необичайно спокойно (без да се готви някаква грандиозна пакост, защото както знаем, когато човек има деца и тишина едновременно с това рядко вещае нещо добро). Тогава решихме, че ще опитаме да зарадваме повече малчугани (и родители) и така се роди ББ. 
</p>
<div class="carousel-container">
    <igx-carousel [interval]="interval" [pause]="pause" [loop]="loop" height="80%">
        <igx-slide *ngFor="let slide of slides;" [active]="slide.active">
            <img [src]="slide.image">
        </igx-slide>
    </igx-carousel>
</div>