// :host {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// .tab-content {
//     padding: 16px;
//     width: 1000px;
// }
// .content {
//      display: block;
//     margin-left: auto;
//     margin-right: auto;
// }
@import '../../../node_modules/igniteui-angular/lib/core/styles/themes/index';
$my-custom-tabs-theme: igx-tabs-theme(
    // $item-background: #f8c1d9 ,
   // $item-hover-background: #f8c1d9
    // $item-text-color: #f8c1d9,
      $item-active-color:   #f8c1d9,
       $item-active-icon-color:  #f8c1d9,
       $indicator-color: #f8c1d9
);

:host {
    ::ng-deep {
        @include igx-tabs($my-custom-tabs-theme);

        .igx-tabs__header-wrapper-fluid {
            justify-content: center;
        }
        
    }
}
.content-divider {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.card-wrapper {
    align-self: auto;
    //max-width: 800px;
    min-width: 300px;
    //max-height: 500px;
    margin: auto;
    width: 50%;
    padding-top: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    //max-height: 800px;
    //min-width: 500px;
  }
  .layout-box {
    width: 100%;
    height: 100%;
}