<div class="content">
<igx-tabs>
	<igx-tabs-group label="{{ 'HOME.ABOUT' | translate }}" icon="child_care" class="tab-header">
	<!-- <igx-tabs-group label="Vasya" icon="child_care" class="tab-header"> -->
	  <app-newcarousel></app-newcarousel>
	</igx-tabs-group>
	<igx-tabs-group label="GALLERY" icon="photo_album">
			<div style="margin: 10px 3px 3px 1px">
			</div>
		  </igx-tabs-group>
	<igx-tabs-group label="MONTESSORI" icon="info">
	 <app-newcarousel></app-newcarousel>
	</igx-tabs-group>
	<igx-tabs-group label="BLOG" icon="mode_comment">
	 <app-newcarousel></app-newcarousel>
	</igx-tabs-group>
</igx-tabs>
</div>