<div class="content">
 <igx-tabs>
	<igx-tabs-group label="{{ 'tabAboutLabel' | translate }}" icon="child_care" class="tab-header igx-typography__caption">
		<app-newcarousel></app-newcarousel>
	</igx-tabs-group>
	<igx-tabs-group label="{{'tabGallery' | translate}}" icon="photo_album">
			<div style="margin: 10px 3px 3px 1px">
			</div>
	</igx-tabs-group>
	<igx-tabs-group label="{{'tabAboutBB' | translate}}" icon="home">
			<div style="margin: 10px 3px 3px 1px">
					<div class="layout-box" igxLayout igxLayoutDir="row">
							<div *ngFor="let part of boardParts" class="layout-box__el" igxFlex igxFlexGrow="0">
									<igx-card type="outlined">
											<igx-card-media height="250px">
												<img src="{{part.pic}}">
											</igx-card-media>
											<igx-card-header>
												<h3 igxCardHeaderTitle>{{part.name | translate}}</h3>
											</igx-card-header>
											<igx-card-content>
												<p style="text-align:center;"> {{part.description | translate}} </p>
											</igx-card-content>
									</igx-card>
							</div>
					</div>
			</div>
	</igx-tabs-group>
	<igx-tabs-group label="{{'tabMontessori' | translate}}" icon="info">
			<div class="card-wrapper">
					<igx-card type="outlined">
							<igx-card-media height="250px">
								<img [src]="'assets/Montessori.jpg'">
							</igx-card-media>
					
							<igx-card-header>
								<h3 igxCardHeaderTitle>{{'tabMontessori' | translate}} и Busy Baby</h3>
							</igx-card-header>
					
							<igx-card-content>
								<p style="text-align:right;">"Free the child’s potential,<br>and you will transform him into the world!<br> M. Montessori" </p>
								<igx-divider class="content-divider"></igx-divider>
								<p>{{'montessoriTextP1' | translate }}</p><br>
								<p>{{'montessoriTextP2' | translate }}</p><a href="http://www.highviewart.com/cvetno/zlatnite-printsipi-na-mariya-montesori-za-vazpitanieto-na-deteto-3723.html" target="_blank"><span>{{'montessoriLink' | translate }}</span></a><br>
								<p><b>{{'montessoriTextP3' | translate }}</b></p><br>
								<p>{{'montessoriTextP4' | translate }}</p><br>
								<p>{{'montessoriTextP5' | translate }}</p><br>
								<p>{{'montessoriTextP6' | translate }}</p><br>
								<p>{{'montessoriTextP7' | translate }}</p><br>
							</igx-card-content>
					</igx-card>
					</div>
	</igx-tabs-group>
	<igx-tabs-group label="{{'tabContacts' | translate}}" icon="contact_phone">
			<app-contacts></app-contacts>
	</igx-tabs-group>
</igx-tabs>
</div>