<div class="content">
<igx-tabs>
	<igx-tabs-group label="{{ 'tabAboutLabel' | translate }}" icon="child_care" class="tab-header igx-typography__caption">
	<!-- <igx-tabs-group label="Vasya" icon="child_care" class="tab-header"> -->
		<app-newcarousel></app-newcarousel>
	</igx-tabs-group>
	<igx-tabs-group label="{{'tabGallery' | translate}}" icon="photo_album">
			<div style="margin: 10px 3px 3px 1px">
			</div>
		  </igx-tabs-group>
	<igx-tabs-group label="{{'tabMontessori' | translate}}" icon="info">
	 <app-newcarousel></app-newcarousel>
	</igx-tabs-group>
	<igx-tabs-group label="{{'tabBlog' | translate}}" icon="mode_comment">
	 <app-newcarousel></app-newcarousel>
	</igx-tabs-group>
</igx-tabs>
</div>