@import "../../../src/styles";
.header  {
 // padding-top:0px;
  width: 250px;
  height: 250px;
  background: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p {
    color: $brand-color;
}

.logo {
  padding-top: 2px
}