@import '../../node_modules/igniteui-angular/lib/core/styles/themes/index';
$my-custom-button-theme: igx-button-group-theme(
  $item-text-color: #f8c1d9,
  $item-hover-text-color: #f8c1d9,
  $item-selected-text-color: #f8c1d9,
  $item-selected-background: #cac1c5
  
  // $item-background: transparent,
  // $item-hover-background: red,
  // $disabled-text-color: gray,
  // $disabled-background-color: lightgray
);

$my-custom-navbar-theme: igx-navbar-theme(
  $background: white,
  $idle-icon-color: #f8c1d9,
    $hover-icon-color: #f8c1d9
);

:host {
    ::ng-deep {
        @include igx-button-group ($my-custom-button-theme);
        @include igx-navbar ($my-custom-navbar-theme);

    }
}

:host > div {
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: auto;
}

.headerItems {
  margin-top: 5px;
}

.headerItems li {
  display:inline;
  margin-left: 20px;
  cursor: pointer;
}

.headerText {
  margin-left: 4px;
}

.igxIcon {
  font-size: 13px;
  margin-left: 10px;
  cursor: pointer;
}

.right {
  position: absolute;
  right: 0px;
  margin-right: 10px;
}

// .menu-icon {
//   font-size: 30px;
// }

.icon-text {
  position: relative;
  top: -5.5px;
  margin-left: 3px;
}

.localizationButtons {
  position: absolute;
  right: 5px;
}

.logo {
  height: 56px;
  cursor: pointer;
}

